$nav-desktop-color: #333;
$desktop-p-font-size:1em;
$content-width:650px;
$font-color:#3B536B;

//chapter and page values
$move-right-label-color: #fff;

$body-text: 'ff-tisa-sans-web-pro';
$heading-font: 'refrigerator-deluxe';
$subheading-font: 'effra';


//clrs.cc
$dark-blue: #001F3F;
$blue: #0074D9;
$light-blue: #7FDBFF;
$green-blue: #39CCCC;
$olive: #3D9970;
$green: #2ECC40;
$lime: #01FF70;
$yellow: #FFDC00;
$orange: #FF851B;
$red: #FF4136;
$purple: #B10DC9;
$maroon: #85144B;
$white: #fff;
$silver: #ddd;
$gray: #aaa;
$black: #111;

html{
	font-size:68.75%;
	height:100%;
}

body{
	height:100%;
	font-size:1rem; /*IE9 & 10*/
	line-height:1.625; /*IE9 & 10*/
	font:1rem/1.625 sans-serif;
	font-family: $body-text;
	color: $dark-blue;
}

.section p{
	font-size: 2.2rem;
	font-size: 0.6em;
	font-size:100%;
}

.section h1{
	font-family: $heading-font;
	font-size:2rem;
	line-height: 2.8rem;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 0px;
}

.section  section{
	background:red;
	padding: 0px 10px;
}


#section0 h1{
	font-family: $heading-font;
	font-size: 6.5rem;
	margin-bottom: 30px;
}

.section h2{
	font-family: $subheading-font;
	font-size: 1.8rem;
	line-height: 2.2rem;
	margin-top: -5px;
	text-align: center;
	font-weight: 100;
}


h1{
	font-size:2.9375rem;
}
h2{
	font-size:1.8125rem;
}
h3{
	font-size:1.4375rem;
}

/*styles for layout and flourished e.g. <hr>, buttons, etc.*/
hr{
	background-color: #333;
	border: 0 none;
	color: #333;
	height: 1px;
}
.short-hr{
	width: 20%;
}


.link-button{
	padding:0px 10px;
	height: 30px;
	line-height: 31px;
	border:1px solid #333;
	color:#333;
	/*text-decoration: none;*/
	margin-top:15px !important;
	display: block;
	width: 100px;
	transition: all 0.3s;
	margin: 0 auto;
	text-align: center;
	font-family: $body-text;

}

.link-button:hover{
	background: #333;
	color:#fff;
}

//////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
// navigation

nav a{
	text-decoration: none;
	color:white;
	/*color:orange;*/
}

nav a:visited{
	color:white;
}

nav li path{
	fill:#ffffff;
	transition:0.3s;
}

#title{
	text-align: center;
	background-color: rgba(0,0,0,0.8);
	padding: 0;
	margin: 0;
	width:100%;
	height:50px;
	line-height: 50px;
	font-family: $heading-font ,sans-serif;
	font-weight: 700;
	color:#fff;
	font-size: 2rem;
	letter-spacing: 3px;
	border-bottom: 2px solid #444;
	/*margin-bottom: 25px;*/
}
nav{
	list-style: none;
	/*outline: red 1px dashed;*/
	position: fixed;
	z-index: 100;
	width: 230px;
	padding:0;
	margin: 0;
	left:-230px;
	transition:all 0.5s;
	text-align: left;
	top:0;
	background:rgba(20,20,20,0.75);;
	height:100%;
	font-family: $subheading-font,sans-serif;
	border-right: 2px solid #555;
	/*outline: yellow 1px solid;*/
}

nav ul{
	height: 100%;
	overflow:scroll;
	overflow-x:hidden; 
}

#menu-svg{
	height:25px;
	width: 25px;
}
#nav-button{
	width:55px;
	height:40px;
	position:fixed;
	top:10px;
	left:10px;
	font-family: $subheading-font,sans-serif;
	/* background:#ddd; */
	text-align:center;
	line-height:40px;
	transition:all 0.5s;
	text-decoration:underline;
	color:white;
	border-radius: 5px;
	font-size:16px;
	background: rgba(0,0,0,0.2);
	z-index: 100;
}


.navOut{
	left:0px;
}

.activeButton{
	border:#ff4136 1px solid !important;
	color:#fff !important;
	background:#ff4136 !important;
	width:70px !important;
	height:50px !important;
	left:231px !important;
	line-height:50px !important;
	border-radius: 0px 20px 20px 0px !important;
	/* right:-60px !important; */
}


nav li, nav ul{
	text-indent: 0;
	list-style: none;
	padding:0;
	margin: 0;
}
nav li{
	margin: 10px auto;
	text-transform: uppercase;
	font-weight: 400;
	border-bottom: 1px #333 solid;
	display: block;
}

nav li .svgContainers{
	/*outline: 1px black solid;*/
	display: inline-block;
	transition:0.5s all;
	margin-bottom: 12px;
	margin-left: 5px;
}

nav svg{
	vertical-align:middle;
	width:25px;
	height:25px;
	/*outline: red 1px solid;*/
}
nav li, path, #heart, #inner-bigGear, #inner-smallGear, .cut-icon{
	transition:0.3s all;
}

.removeNav{
	opacity:0 !important;
	background:none !important; 
}


//this is the text for each of the li elements
.listText{
	display: inline-block;
	position: relative;
	top:4px;
	font-size:1.3rem;
	transition:0.3s all;
	margin-left: 10px;
}

// finish nav css

//////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
// slide styles (styles for chapters and pages)

.moveRightLabel{
	text-align: center;
	color:$move-right-label-color;
	text-transform: uppercase;

}

#slide2 .fp-tableCell, #slide4 .fp-tableCell{
	background:white !important;
	color:$font-color;
}

#slide2, #slide4{
	background: white;
}

//hide the navigation (left and right) arrows on all slides
.fp-controlArrow{
	display: none;
}

.bottom-slide-nav{
	position: absolute;
	bottom: 0px;
	left:0px;
	background:red;
	height:50px;
	width: 100%;
}








//////////////////////////////////////////////////////////////////////////







// #section3 h1{
// 	font-size: 3.2rem;
// 	line-height: 3.6rem;
// }

/*#testz{
	outline: red 1px solid;
	height: 80%;
	overflow:auto;
}*/

.fp-controlArrow{
	border-width:18.5px 0px 18.5px 24px !important;
	opacity: 0.7;
}
.fp-controlArrow.fp-prev{
	border-width:18.5px 24px 18.5px 0px !important;
}



/*This makes the SVG the same color as the text!*/
.active span path{
	fill:#ff851b;
	color:#ff851b;
}
.active span{
	color:#ff851b !important;
}


#fullpage{
	z-index: 1;
}


#blackOut{
	height: 100%;
	width:100%;
	background-color:black;
	z-index: 98;
	position: fixed !important;
	top:0;
	left:0;
	opacity: 0.6;
	display: none;
}

/*VIDEO*/
#videoContainer{
	position:fixed;
	width:100%;
	height:100%;
	display: block;
}

#bg-video{
	position:fixed;
	top:0;
	z-index:1;
	left:0;
}

.background{
	background:url(../imgs/header0.jpg);
	background-size: cover;
}

/*******************   First Section  *****************/
#section0{
	color:#fff;
}

/*******************   Third Section  *****************/
#section2{
	background:url(../imgs/header1.jpg);
	background-size: cover;
	color:#fff;
}

// #section2 h1{
// 	line-height: rem;
// 	font-size: 4rem;
// }

#section2 .fp-tableCell{
	background:url(../imgs/watercolor2.png);
	background-repeat: no-repeat;
	background-position: center center;
	width:100%;
	height: 100%;
	top:0;
	z-index: 1 !important;
}

#section3 .fp-tableCell{
	background:url(../imgs/watercolor3.png);
	background-repeat: no-repeat;
	background-position: center center;
	width:100%;
	height: 100%;
	top:0;
	z-index: 1 !important;
}



/*---------------------////////---------------------////////-----------------------////////---------------------////////
-----------------------////////---------------------////////-----------------------////////---------------------////////
-----------------------////////---------------------////////
-----------------------////////---------------------////////
-----------------------////////---------------------////////*/

