#media-test{
   position: fixed;
   top:0;
   left:0;
   z-index: 100;
	background:rgba(0,0,0,0.8);
	width:100%;
	line-height: 3em;
	color:#fff;
	height:3em;
	font-family: sans-serif;
	letter-spacing: 1px;
	font-weight: 100;
	text-align: center;	
	display: block;
}
nav a{
  text-decoration: none;
  /*color:orange;*/
}
.active span path{
	fill:#bf5f00;
	color:#bf5f00;

}

.menuLiColor{
	color:#ffcc00 !important;
}
nav li {
	color:white;
}

#navMenu{
	opacity: 1;
	transition:0.3s all;
}

.removeNav{
	opacity:0 !important;
	background:none !important; 
}

@media all and (min-width: 40em) {
    
#media-test{
	
	display: none;
}

body{
	font-family: arial,helvetica;
	color: #333;
	color: rgba(0,0,0,0.5);
}
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}
h1{
	font-size: 6em;
}
p{
	font-size: 2em;
}

.intro p{
	max-width: 1000px;
	margin: 0 auto;
	font-size: 1.5em;
}
.section{
	text-align:center;
}
/*******************   Navigation  *****************/

/*JS Classes*/

.moveOut{
  left:-30px !important;
  /*background: rgba(0, 0, 0, 0.2);*/
}

nav{
  list-style: none;
  /*outline: red 1px dashed;*/
  position: fixed;
  z-index: 100;
  width: 200px;
  padding:0;
  margin: 0;
  left:-140px;
  transition:all 0.5s;
  text-align: right;
  top:30%;
  padding:30px 20px; 
  /*outline: yellow 1px solid;*/
}




nav li, nav ul{
  text-indent: 0;
  list-style: none;
  padding:0;
  margin: 0;
}

nav li span{
  margin: 10px 0; 
  /*outline: 1px black solid;*/
  display: inline-block;
  margin-left: 55px;
  transition:0.5s all;
}

nav svg{
  vertical-align:middle;
  width:40px;
  height:40px;
  /*outline: red 1px solid;*/
}
nav li, path, #heart, #inner-bigGear, #inner-smallGear, .cut-icon{
  transition:0.3s all;
}


/*******************   First Section  *****************/
#section0 h1{
	font-size: 15em;
	margin: 0 auto;
	font-family: "refrigerator-deluxe",sans-serif;
	color:#fff;
}

#section0 p, #section2 p{
	font-family: "chaparral-pro",serif;
	font-style: italic;
	font-weight: 500;
	margin: -20px auto;
	color:#fff;
	font-size: 3em;
}

#section0{
	background: rgba(0,0,0,0.6);
}

/*******************   Mission Section  *****************/

#section1{
	background-image: url(../imgs/pattern-squares.png);
	background-color: white;
}
#section1 h1{
	font-family: "refrigerator-deluxe",sans-serif;
	font-size:6em;
	color:#555;
}

#section1 p{
	font-family: "chaparral-pro",serif;
	margin: 20px auto;
 
}

/*******************   First Header  *****************/
#section2{
	background-image: url(../imgs/header1.jpg);
}

#section2 h1{
	font-family: "refrigerator-deluxe",sans-serif;
	color:#fff;
	margin: -20px auto;
}
#section2 p{
	margin: 40px auto;
}

#section2 .intro{
	background-image: url(../imgs/strokes.png);
	background-repeat: no-repeat;
	background-position: 50% 0%;
}

.next-button{
	margin: 40px auto;
	width:40px;
	height:40px;
	border-radius: 20px;
	border:#fff solid 2px;
	background-image: url(../imgs/arrow-down.png);
	transition:all 0.3s;

	-webkit-animation: flash 1.5s infinite; /* Safari 4+ */
  	-moz-animation:    flash 1.5s infinite; /* Fx 5+ */
  	-o-animation:      flash 1.5s infinite; /* Opera 12+ */
 	animation:         flash 1.5s infinite; /* IE 10+, Fx 29+ */
}



 /*ANIMATIONS*/

 @-webkit-keyframes flash {
  0%   { opacity: 0.5; }
  50% { opacity: 1; }
  100% { opacity: 0.5;}
}
@-moz-keyframes flash {
  0%   { opacity: 0.5; }
  50% { opacity: 1; }
  100% { opacity: 0.5;}
}
@-o-keyframes flash {
  0%   { opacity: 0.5; }
  50% { opacity: 1; }
  100% { opacity: 0.5;}
}
@keyframes flash {
  0%   { opacity: 0.5; }
  50% { opacity: 1; }
  100% { opacity: 0.5;}
}


/*******************   Section3  *****************/

#section3{
	background:#111;
}

#section3 h1{
	font-family: "brandon-grotesque",sans-serif;
	color:#fff;
	margin: 0 auto;
}

.last-line{
	margin-top: -40px !important;
}

#section3 p{
	font-family: "chaparral-pro", serif;
	font-weight: 100;
	letter-spacing: 1px;
	color:#fff;
	margin: 30px auto;
}
} /*end the css media query*/
